# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Temporary files and caches
*.tmp
*.cache
.next/
dist/
out/
.parcel-cache/
.cache/
coverage/
.nuxt/
public/
.turbo/
build/
.vercel/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.local.yml

# Other
debug.log
*.lock
